__pycache__/ball8.cpython-311.pyc
__pycache__/calc.cpython-311.pyc
__pycache__/chatGPT.cpython-311.pyc
__pycache__/density.cpython-311.pyc
__pycache__/editor.cpython-311.pyc
__pycache__/gambl.cpython-311.pyc
__pycache__/reac.cpython-311.pyc
__pycache__/pig.cpython-311.pyc
__pycache__/rngg.cpython-311.pyc
__pycache__/rps.cpython-311.pyc
__pycache__/help.cpython-311.pyc
__pycache__/word.cpython-311.pyc
__pycache__/tic.cpython-311.pyc
__pycache__/snake.cpython-311.pyc
venv/*
replit.nix
.replit
